.elementor-kit-5 {
    --e-global-color-primary: #242424;
    --e-global-color-secondary: #764979;
    --e-global-color-text: #6B6B6B;
    --e-global-color-accent: #413625;
    --e-global-color-2a30b40: #FFFFFF;
    --e-global-color-5b24e6f: #E1CCAD;
    --e-global-color-266111e: #24242426;
    --e-global-color-d544de9: #7F676C;
    --e-global-color-dc3ad71: #F4F7FF;
    --e-global-typography-primary-font-family: "Playfair Display";
    --e-global-typography-primary-line-height: 1.1em;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-text-font-family: "Karla";
    --e-global-typography-text-font-size: 20px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.5em;
    --e-global-typography-accent-font-family: "Karla";
    --e-global-typography-accent-font-size: 22px;
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-accent-text-decoration: none;
    --e-global-typography-accent-line-height: 1.1em;
    --e-global-typography-a101b9a-font-family: "Playfair Display";
    --e-global-typography-a101b9a-font-size: 64px;
    --e-global-typography-a101b9a-font-weight: bold;
    --e-global-typography-a101b9a-line-height: 1.1em;
    --e-global-typography-3dea849-font-size: 48px;
    --e-global-typography-3dea849-font-weight: bold;
    --e-global-typography-3dea849-line-height: 1.1em;
    --e-global-typography-a845645-font-family: "Playfair Display";
    --e-global-typography-a845645-font-size: 22px;
    --e-global-typography-a845645-font-weight: bold;
    --e-global-typography-a845645-line-height: 1.1em;
    --e-global-typography-9b145d3-font-family: "Karla";
    --e-global-typography-9b145d3-font-size: 20px;
    --e-global-typography-9b145d3-font-weight: 400;
    --e-global-typography-9b145d3-line-height: 1.1em;
    --e-global-typography-9b145d3-letter-spacing: 3px;
    --e-global-typography-c6c335c-font-family: "Karla";
    --e-global-typography-c6c335c-font-size: 20px;
    --e-global-typography-c6c335c-font-weight: 400;
    --e-global-typography-c6c335c-line-height: 1.1em;
    --e-global-typography-ed63daa-font-family: "Playfair Display";
    --e-global-typography-ed63daa-font-size: 18px;
    --e-global-typography-ed63daa-font-weight: normal;
    --e-global-typography-ed63daa-line-height: 1.1em;
    --e-global-typography-a274609-font-family: "Karla";
    --e-global-typography-a274609-font-size: 18px;
    --e-global-typography-a274609-font-weight: 400;
    --e-global-typography-a274609-line-height: 1.5em;
    --e-global-typography-a80db56-font-family: "Playfair Display";
    --e-global-typography-a80db56-font-size: 16px;
    --e-global-typography-a80db56-font-weight: normal;
    --e-global-typography-a80db56-line-height: 1.5em;
    --e-global-typography-8b26f26-font-family: "DM Serif Display";
    --e-global-typography-8b26f26-font-size: 22px;
    --e-global-typography-8b26f26-font-weight: normal;
    --e-global-typography-8b26f26-line-height: 1.1em;
    --e-global-typography-4755b96-font-family: "Karla";
    --e-global-typography-4755b96-font-size: 16px;
    --e-global-typography-4755b96-font-weight: 400;
    --e-global-typography-4755b96-line-height: 1.5em;
    --e-global-typography-f8b8864-font-family: "Karla";
    --e-global-typography-f8b8864-font-size: 18px;
    --e-global-typography-f8b8864-font-weight: 600;
    --e-global-typography-f8b8864-line-height: 1.1em;
    --e-global-typography-a9ffed9-font-family: "Karla";
    --e-global-typography-a9ffed9-font-size: 24px;
    --e-global-typography-a9ffed9-font-weight: 500;
    --e-global-typography-a9ffed9-line-height: 1.5em;
    --e-global-typography-3b0c9bb-font-size: 135px;
    --e-global-typography-3b0c9bb-font-weight: bold;
    --e-global-typography-3b0c9bb-line-height: 1.1em;
    --e-global-typography-9a0a0de-font-family: "Playfair Display";
    --e-global-typography-9a0a0de-font-size: 20px;
    --e-global-typography-9a0a0de-font-weight: bold;
    --e-global-typography-9a0a0de-line-height: 1.5em;
    --e-global-typography-a0b91aa-font-family: "Karla";
    --e-global-typography-a0b91aa-font-size: 20px;
    --e-global-typography-a0b91aa-font-weight: 500;
    --e-global-typography-a0b91aa-line-height: 1.5em;
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    line-height: var( --e-global-typography-text-line-height);
}

.elementor-kit-5 a {
    color: var( --e-global-color-accent);
}

.elementor-kit-5 a:hover {
    color: var( --e-global-color-secondary);
}

.elementor-kit-5 h1 {
    color: var( --e-global-color-2a30b40);
    font-family: var( --e-global-typography-a101b9a-font-family), Sans-serif;
    font-size: var( --e-global-typography-a101b9a-font-size);
    font-weight: var( --e-global-typography-a101b9a-font-weight);
    line-height: var( --e-global-typography-a101b9a-line-height);
    letter-spacing: var( --e-global-typography-a101b9a-letter-spacing);
    word-spacing: var( --e-global-typography-a101b9a-word-spacing);
}

.elementor-kit-5 h2 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-a845645-font-family), Sans-serif;
    font-size: var( --e-global-typography-a845645-font-size);
    font-weight: var( --e-global-typography-a845645-font-weight);
    line-height: var( --e-global-typography-a845645-line-height);
    letter-spacing: var( --e-global-typography-a845645-letter-spacing);
    word-spacing: var( --e-global-typography-a845645-word-spacing);
}

.elementor-kit-5 h3 {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-a845645-font-family), Sans-serif;
    font-size: var( --e-global-typography-a845645-font-size);
    font-weight: var( --e-global-typography-a845645-font-weight);
    line-height: var( --e-global-typography-a845645-line-height);
    letter-spacing: var( --e-global-typography-a845645-letter-spacing);
    word-spacing: var( --e-global-typography-a845645-word-spacing);
}

.elementor-kit-5 h4 {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-9b145d3-font-family), Sans-serif;
    font-size: var( --e-global-typography-9b145d3-font-size);
    font-weight: var( --e-global-typography-9b145d3-font-weight);
    line-height: var( --e-global-typography-9b145d3-line-height);
    letter-spacing: var( --e-global-typography-9b145d3-letter-spacing);
    word-spacing: var( --e-global-typography-9b145d3-word-spacing);
}

.elementor-kit-5 h5 {
    color: var( --e-global-color-2a30b40);
    font-family: "Karla", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1em;
}

.elementor-kit-5 h6 {
    font-family: var( --e-global-typography-4755b96-font-family), Sans-serif;
    font-size: var( --e-global-typography-4755b96-font-size);
    font-weight: var( --e-global-typography-4755b96-font-weight);
    line-height: var( --e-global-typography-4755b96-line-height);
    letter-spacing: var( --e-global-typography-4755b96-letter-spacing);
    word-spacing: var( --e-global-typography-4755b96-word-spacing);
}

.elementor-kit-5 button,
.elementor-kit-5 input[type="button"],
.elementor-kit-5 input[type="submit"],
.elementor-kit-5 .elementor-button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    text-decoration: var( --e-global-typography-accent-text-decoration);
    line-height: var( --e-global-typography-accent-line-height);
    color: var( --e-global-color-accent);
    background-color: var( --e-global-color-5b24e6f);
    border-radius: 35px 0px 35px 0px;
    padding: 23px 49px 23px 49px;
}

.elementor-kit-5 button:hover,
.elementor-kit-5 button:focus,
.elementor-kit-5 input[type="button"]:hover,
.elementor-kit-5 input[type="button"]:focus,
.elementor-kit-5 input[type="submit"]:hover,
.elementor-kit-5 input[type="submit"]:focus,
.elementor-kit-5 .elementor-button:hover,
.elementor-kit-5 .elementor-button:focus {
    color: var( --e-global-color-5b24e6f);
    background-color: var( --e-global-color-secondary);
    border-radius: 35px 0px 35px 0px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-element {
    --widgets-spacing: 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-5 e-page-transition {
    background-color: #FFBC7D;
}

@media(max-width:1366px) {
    .elementor-kit-5 {
        --e-global-typography-text-font-size: 18px;
        --e-global-typography-text-line-height: 1.1em;
        --e-global-typography-accent-font-size: 20px;
        --e-global-typography-accent-line-height: 1.1em;
        --e-global-typography-a101b9a-font-size: 48px;
        --e-global-typography-a101b9a-line-height: 1.1em;
        --e-global-typography-3dea849-font-size: 36px;
        --e-global-typography-3dea849-line-height: 1.1em;
        --e-global-typography-a845645-font-size: 20px;
        --e-global-typography-a845645-line-height: 1.1em;
        --e-global-typography-9b145d3-font-size: 18px;
        --e-global-typography-9b145d3-line-height: 1.1em;
        --e-global-typography-c6c335c-font-size: 16px;
        --e-global-typography-c6c335c-line-height: 1.1em;
        --e-global-typography-a274609-font-size: 16px;
        --e-global-typography-a80db56-font-size: 18px;
        --e-global-typography-4755b96-font-size: 14px;
        --e-global-typography-f8b8864-font-size: 18px;
        --e-global-typography-f8b8864-line-height: 1.1em;
        --e-global-typography-a9ffed9-font-size: 22px;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-5 h1 {
        font-size: var( --e-global-typography-a101b9a-font-size);
        line-height: var( --e-global-typography-a101b9a-line-height);
        letter-spacing: var( --e-global-typography-a101b9a-letter-spacing);
        word-spacing: var( --e-global-typography-a101b9a-word-spacing);
    }
    .elementor-kit-5 h2 {
        font-size: var( --e-global-typography-a845645-font-size);
        line-height: var( --e-global-typography-a845645-line-height);
        letter-spacing: var( --e-global-typography-a845645-letter-spacing);
        word-spacing: var( --e-global-typography-a845645-word-spacing);
    }
    .elementor-kit-5 h3 {
        font-size: var( --e-global-typography-a845645-font-size);
        line-height: var( --e-global-typography-a845645-line-height);
        letter-spacing: var( --e-global-typography-a845645-letter-spacing);
        word-spacing: var( --e-global-typography-a845645-word-spacing);
    }
    .elementor-kit-5 h4 {
        font-size: var( --e-global-typography-9b145d3-font-size);
        line-height: var( --e-global-typography-9b145d3-line-height);
        letter-spacing: var( --e-global-typography-9b145d3-letter-spacing);
        word-spacing: var( --e-global-typography-9b145d3-word-spacing);
    }
    .elementor-kit-5 h6 {
        font-size: var( --e-global-typography-4755b96-font-size);
        line-height: var( --e-global-typography-4755b96-line-height);
        letter-spacing: var( --e-global-typography-4755b96-letter-spacing);
        word-spacing: var( --e-global-typography-4755b96-word-spacing);
    }
    .elementor-kit-5 button,
    .elementor-kit-5 input[type="button"],
    .elementor-kit-5 input[type="submit"],
    .elementor-kit-5 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
    }
}

@media(max-width:1024px) {
    .elementor-kit-5 {
        --e-global-typography-text-font-size: 18px;
        --e-global-typography-text-line-height: 1.5em;
        --e-global-typography-accent-font-size: 20px;
        --e-global-typography-accent-line-height: 1.1em;
        --e-global-typography-a101b9a-font-size: 40px;
        --e-global-typography-a101b9a-line-height: 1.1em;
        --e-global-typography-3dea849-font-size: 30px;
        --e-global-typography-3dea849-line-height: 1.1em;
        --e-global-typography-a845645-font-size: 20px;
        --e-global-typography-a845645-line-height: 1.1em;
        --e-global-typography-9b145d3-font-size: 18px;
        --e-global-typography-9b145d3-line-height: 1.1em;
        --e-global-typography-c6c335c-font-size: 16px;
        --e-global-typography-c6c335c-line-height: 1.1em;
        --e-global-typography-ed63daa-font-size: 16px;
        --e-global-typography-ed63daa-line-height: 1.1em;
        --e-global-typography-a274609-font-size: 16px;
        --e-global-typography-a274609-line-height: 1.5em;
        --e-global-typography-a80db56-font-size: 14px;
        --e-global-typography-8b26f26-font-size: 20px;
        --e-global-typography-8b26f26-line-height: 1.1em;
        --e-global-typography-4755b96-font-size: 16px;
        --e-global-typography-4755b96-line-height: 1.5em;
        --e-global-typography-f8b8864-font-size: 14px;
        --e-global-typography-f8b8864-line-height: 1.5em;
        --e-global-typography-a9ffed9-font-size: 20px;
        --e-global-typography-3b0c9bb-font-size: 95px;
        --e-global-typography-3b0c9bb-line-height: 1.1em;
        --e-global-typography-9a0a0de-font-size: 18px;
        --e-global-typography-9a0a0de-line-height: 1.5em;
        --e-global-typography-a0b91aa-font-size: 18px;
        --e-global-typography-a0b91aa-line-height: 1.5em;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-5 h1 {
        font-size: var( --e-global-typography-a101b9a-font-size);
        line-height: var( --e-global-typography-a101b9a-line-height);
        letter-spacing: var( --e-global-typography-a101b9a-letter-spacing);
        word-spacing: var( --e-global-typography-a101b9a-word-spacing);
    }
    .elementor-kit-5 h2 {
        font-size: var( --e-global-typography-a845645-font-size);
        line-height: var( --e-global-typography-a845645-line-height);
        letter-spacing: var( --e-global-typography-a845645-letter-spacing);
        word-spacing: var( --e-global-typography-a845645-word-spacing);
    }
    .elementor-kit-5 h3 {
        font-size: var( --e-global-typography-a845645-font-size);
        line-height: var( --e-global-typography-a845645-line-height);
        letter-spacing: var( --e-global-typography-a845645-letter-spacing);
        word-spacing: var( --e-global-typography-a845645-word-spacing);
    }
    .elementor-kit-5 h4 {
        font-size: var( --e-global-typography-9b145d3-font-size);
        line-height: var( --e-global-typography-9b145d3-line-height);
        letter-spacing: var( --e-global-typography-9b145d3-letter-spacing);
        word-spacing: var( --e-global-typography-9b145d3-word-spacing);
    }
    .elementor-kit-5 h5 {
        font-size: 16px;
        line-height: 1.1em;
    }
    .elementor-kit-5 h6 {
        font-size: var( --e-global-typography-4755b96-font-size);
        line-height: var( --e-global-typography-4755b96-line-height);
        letter-spacing: var( --e-global-typography-4755b96-letter-spacing);
        word-spacing: var( --e-global-typography-4755b96-word-spacing);
    }
    .elementor-kit-5 button,
    .elementor-kit-5 input[type="button"],
    .elementor-kit-5 input[type="submit"],
    .elementor-kit-5 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
        padding: 19px 36px 19px 36px;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-5 {
        --e-global-typography-text-font-size: 16px;
        --e-global-typography-text-line-height: 1.5em;
        --e-global-typography-accent-font-size: 18px;
        --e-global-typography-accent-line-height: 1.1em;
        --e-global-typography-a101b9a-font-size: 30px;
        --e-global-typography-3dea849-font-size: 24px;
        --e-global-typography-3dea849-line-height: 1.1em;
        --e-global-typography-a845645-font-size: 18px;
        --e-global-typography-a845645-line-height: 1.1em;
        --e-global-typography-9b145d3-font-size: 16px;
        --e-global-typography-9b145d3-line-height: 1.1em;
        --e-global-typography-c6c335c-font-size: 16px;
        --e-global-typography-c6c335c-line-height: 1.1em;
        --e-global-typography-ed63daa-font-size: 14px;
        --e-global-typography-a274609-font-size: 16px;
        --e-global-typography-a274609-line-height: 1.5em;
        --e-global-typography-8b26f26-font-size: 18px;
        --e-global-typography-8b26f26-line-height: 1.1em;
        --e-global-typography-4755b96-font-size: 14px;
        --e-global-typography-4755b96-line-height: 1.5em;
        --e-global-typography-f8b8864-font-size: 14px;
        --e-global-typography-f8b8864-line-height: 1.5em;
        --e-global-typography-a9ffed9-font-size: 16px;
        --e-global-typography-a9ffed9-line-height: 1.5em;
        --e-global-typography-3b0c9bb-font-size: 75px;
        --e-global-typography-3b0c9bb-line-height: 1.1em;
        --e-global-typography-9a0a0de-font-size: 16px;
        --e-global-typography-9a0a0de-line-height: 1.5em;
        --e-global-typography-a0b91aa-font-size: 16px;
        --e-global-typography-a0b91aa-line-height: 1.5em;
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-kit-5 h1 {
        font-size: var( --e-global-typography-a101b9a-font-size);
        line-height: var( --e-global-typography-a101b9a-line-height);
        letter-spacing: var( --e-global-typography-a101b9a-letter-spacing);
        word-spacing: var( --e-global-typography-a101b9a-word-spacing);
    }
    .elementor-kit-5 h2 {
        font-size: var( --e-global-typography-a845645-font-size);
        line-height: var( --e-global-typography-a845645-line-height);
        letter-spacing: var( --e-global-typography-a845645-letter-spacing);
        word-spacing: var( --e-global-typography-a845645-word-spacing);
    }
    .elementor-kit-5 h3 {
        font-size: var( --e-global-typography-a845645-font-size);
        line-height: var( --e-global-typography-a845645-line-height);
        letter-spacing: var( --e-global-typography-a845645-letter-spacing);
        word-spacing: var( --e-global-typography-a845645-word-spacing);
    }
    .elementor-kit-5 h4 {
        font-size: var( --e-global-typography-9b145d3-font-size);
        line-height: var( --e-global-typography-9b145d3-line-height);
        letter-spacing: var( --e-global-typography-9b145d3-letter-spacing);
        word-spacing: var( --e-global-typography-9b145d3-word-spacing);
    }
    .elementor-kit-5 h5 {
        font-size: 16px;
        line-height: 1.1em;
    }
    .elementor-kit-5 h6 {
        font-size: var( --e-global-typography-4755b96-font-size);
        line-height: var( --e-global-typography-4755b96-line-height);
        letter-spacing: var( --e-global-typography-4755b96-letter-spacing);
        word-spacing: var( --e-global-typography-4755b96-word-spacing);
    }
    .elementor-kit-5 button,
    .elementor-kit-5 input[type="button"],
    .elementor-kit-5 input[type="submit"],
    .elementor-kit-5 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        line-height: var( --e-global-typography-accent-line-height);
        padding: 17px 33px 17px 33px;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}